# Environment variables
.env

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

src/Config/*.js
src/controllers/*.js
src/models/*.js
src/routes/*.js

# Local MongoDB self-managed encryption settings
atlas/encryption/self-managed/mongod.conf
atlas/encryption/self-managed/*.js
atlas/encryption/application/*.json
atlas/encryption/application/*.js
